body {
    background-color: #F1F2F9;
}

.barraMenu,
.c-menu {
    background-color: #07315A !important;
}

.c-col-right {
    border: 1px solid #D9D6D6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.c-col-left {
    border: 1px solid #D9D6D6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F1F2F9;
}

.c-cards {
    border: 1px solid #D9D6D6;
    box-sizing: border-box;
    border-radius: 8px;
}

.c-imgLogin {
    width: 40px;
    height: 40px;
    border-radius: 35px;    
}

