body {
    background-color: #A1DAF7;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

a {
    color:#2201ED;
}

.card{ 
	position: absolute;
	z-index: 2;
	width: 380px;
    border: 1px solid #F1EBEB;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(187, 178, 178, 0.25);
}

.btn-primary {
    top: 350px;
    background: #741596;
    border: 1px solid #CFCFCF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.rodapeleft {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 400px;
}
.rodaperight {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right:0;
    width: 400px;
}


