.c-card-body {
    background-color: rgb(226, 225, 231);
}

.btn-collapse {
    background-color: rgb(214, 212, 212);
    opacity: 0.4;
    box-shadow: 0px 4px 2px rgb(153, 136, 167);
}

.c-header {
    display: flex;
    justify-content: space-between;
}