.c-card-body {
    background-color: #F1F2F9;
    border-color: #F1F2F9;
    height: 10%;
}

body {
    overflow: hidden;
}

.btn-collapse {
    background-color: rgb(214, 212, 212);
    opacity: 0.4;
    box-shadow: 0px 4px 2px rgb(153, 136, 167);
}

.c-header {
    display: flex;
    justify-content: space-between;
    background-color: #F1F2F9;
}

.c-bg-dark {
    background-color: #F1F2F9 !important;
}
.c-rolagem {
    overflow: auto;
    height: 75%;
}

.card {
    cursor: pointer;
}

.btn-modal {
    background-color: #07315A !important;
}


